# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Secrets and Credentials
Neo4j*.txt
*.pem
*.key

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.swp
